<p id="notice"></p>
<div class="container">
    <div class="row">
        <h1 class="px3 mx-auto">
            Welcome to 
            <strong><i class="fas fa-book"></i>Bookers</strong>
            !
        </h1>
    </div>
</div>